{% extends  "IndigoGamesStudio/post/index.html" %}
{% load static %}
    <main>
        {% block container %}
        <div class="title" style="margin-top: 70px;">
            Meet Us
        </div>
        <div class="container-about">
            <div class="person-info">
                <div class="person-photo">
                    <img src="./img/jflaczyk.png" alt="">
                </div>
                <div class="main-info">
                    <h2>Jakub Flaczyk</h2>
                    <h3>Programmer</h3>
                </div>
                <a class="person-icon" href="#"><i class="icon-linkedin-squared"></i></a>
                <a class="person-icon" href="#"><i class="icon-github-circled-alt2"></i></a>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Quia magni impedit voluptas dolore hic ut 
                    ratione eligendi rem numquam facere! Eaque, exercitationem fugiat? 
                    Totam illum explicabo ea a debitis minus!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Quia magni impedit voluptas dolore hic ut 
                    ratione eligendi rem numquam facere! Eaque, exercitationem fugiat? 
                    Totam illum explicabo ea a debitis minus!
                </p>
            </div>
            <div class="person-info">
                <div class="person-photo">
                    <img src="./img/sgrzelak.png" alt="">
                </div>
                <div class="main-info">
                    <h2>Sara Grzelak</h2>
                    <h3>Graphics Designer</h3>
                </div>
                <a class="person-icon" href="#"><img src="https://img.icons8.com/ios/50/000000/sketchfab.png"/></a>
                <a class="person-icon" href="#"></a>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Quia magni impedit voluptas dolore hic ut 
                    ratione eligendi rem numquam facere! Eaque, exercitationem fugiat? 
                    Totam illum explicabo ea a debitis minus!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Quia magni impedit voluptas dolore hic ut 
                    ratione eligendi rem numquam facere! Eaque, exercitationem fugiat? 
                    Totam illum explicabo ea a debitis minus!
                </p>
            </div>
        </div>
        {% endblock %}
    </main>
{% block footer %}
    <footer style="position: relative;"> 
        <h4>Indigo Games Studio &copy; 2021</h4>
        <h6 style="position: absolute; right: 10px;"><a style="text-decoration: none; color: white;" href="https://icons8.com/icon/62172/sketchfab">Sketchfab icon by Icons8</a></h6>
    </footer>
    


    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>
{% endblock %}