{% extends  "IndigoGamesStudio/post/index.html" %}
{% load static %}
    <main>
        {% block container %}
        <div class="title" style="margin-top: 70px;">
            Meet Us
        </div>
        <div class="container-about">
            {% for person in person_list %}
            <div class="person-info">
                <div class="person-photo">
                    {% if person.person_img %}
                    <img src="{{ person.person_img.url }}" alt="">
                    {% endif %}
                </div>
                <div class="main-info">
                    <h2>{{ person.first_name }} {{ person.surname }} </h2>
                    <h3>{{ person.position }}</h3>
                </div>
                <a class="person-icon" href="{{ person.social_icon_first_link }}"><i class="{{ person.social_icon_first }}"></i></a>
                <a class="person-icon" href="{{ person.social_icon_second_link }}"><i class="{{ person.social_icon_second }}"></i></a>
                {% if person.social_icon_third %}
                    <a class="person-icon" style="margin-right: -20px; margin-top:19px;" href="{{ person.social_icon_third_link }}"><img src="{{ person.social_icon_third }}" /></a>
                {% endif %}
                {% if person.social_icon_third %}
                    <a class="person-icon" style="margin-top:19px;" href="{{ person.social_icon_fourth_link }}"><img src="{{ person.social_icon_fourth }}"  /></a>
                {% endif %}
                <p>
                    {{ person.person_info }}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </main>
{% block footer %}
    <footer style="position: relative;"> 
        <h4>Indigo Games Studio &copy; 2021</h4>
        <h6 style="position: absolute; right: 10px; bottom: 0;"><a style="text-decoration: none; color: white;" href="https://icons8.com/icon/62172/sketchfab">Sketchfab icon by Icons8</a></h6>
    </footer>
    


    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>
{% endblock %}