{% extends  "IndigoGamesStudio/post/index.html" %}
{% load static %}
    <main>
        {% block container %}
        <div class="detail-container">
            <div class="games-img">
                {% if post.header_image %}
                        <img src="{{ post.header_image.url }}" alt="">
                {% endif %}
            </div>
            <div class="published-data">
                <h3>{{ post.publish }}</h3>
             </div>
            <div class="games-text">
               <p>
                   {{ post.body }}
               </p>
            </div>
            <div class="similar-title"><h3>Similar posts</h3></div>
            <div class="similar-posty">
                <div class="similar-post-img">
                    <img src="{% static 'img/emoji_memory.jpg' %}" alt="">
                </div>
                <div class="similar-post-img">
                    <img src="{% static 'img/flappy_unicorn.png' %}" alt="">
                </div>
                <div class="similar-post-img">
                    <img src="{% static 'img/crazy.png' %}" alt="">
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
